.banner{
    background: var(--cor-degrade);
    color: var(--branco-padrao);
    text-align: center;
    padding: 2em 1.5em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__text{
    font-weight: 500;
    margin: 1.2em;
    line-height: 1.5;
}

.banner__search {
    padding: 0.5em;
    display: flex;
    background-color: transparent;
    border: 1px solid var(--branco-padrao);
    border-radius: 50px;
    justify-content: center;
    outline-color: transparent;
}

.banner__search input{
    background-color: transparent;
    border: none;
    width: 230px;
    color: var(--branco-padrao);
    font-weight: 400;
    outline-color: transparent;
}

.banner__search input::placeholder {
    background-color: transparent;
    border: none;
    color: var(--branco-padrao);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    outline-color: transparent;
}

@media screen and (min-width: 1024px){

    .banner {
        padding: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__titulo {
        font-size: 36px;
    }

    .banner__search {
        padding: 1em;
        width: 50%;
    }
}

@media screen and (min-width: 1728px){

    .banner{
        padding: 5em;
    }

    .banner__search {
        padding: 1em;
        width: 35%;
    }

}
